.contt {
  padding-top: 10px !important;
}

.contat {
  padding: 0px 0 10px !important;
}
.conticons {
  color: #fff;
  margin: 10px;
}
.form {
  background-color: #292323;
  padding: 0px;
  border-radius: 10px;
  width: 80%;
}
.form form {
  width: 100%;
}

.inpu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inpu input {
  width: 45%;
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
}

textarea {
  padding: 10px;
  width: 100%;
  background-color: #000;
  height: 100px;
  color: white;
  border: none;
  margin: 20px auto;
}

button {
  color: #cf7500;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 18px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  border: #cf7500 2px solid;
  background-color: #292323;
  border-radius: 25px;
}
@media (max-width: 750px) {
  .form {
    width: 100%;
  }

  .inpu input {
    width: 100%;
    margin-top: 15px;
  }
  .inpu {
    flex-direction: column;
  }

  .conticons {
    margin: 5px;
    margin-right: 15px;
  }
  .MuiIconButton-root {
    padding: 12px 0 !important;
  }
}
